<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ad.core.hope.service.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.ad.core.hope.model.SysUserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="roleId" jdbcType="VARCHAR" property="roleid" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, userId, roleId
    from sys_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, userId, roleId
    from sys_user_role
  </select>
</mapper>